name: CI

on:
  push:
    branches-ignore:
      - release
  pull_request:
    branches:
      - master
      - release

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
    - uses: actions/checkout@v1
    - name: Prepare FFMpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0
    - name: Test with dotnet
      run: dotnet test --logger GitHubActions
