name: CI

on:
  push:
    branches:
      - master
    paths:
    - FFMpegCore/**
    - FFMpegCore.Test/**
  pull_request:
    branches:
      - master
      - release
    paths:
    - FFMpegCore/**
    - FFMpegCore.Test/**

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    timeout-minutes: 6
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Prepare .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Prepare FFMpeg
      uses: FedericoCarboni/setup-ffmpeg@v1
    - name: Test with dotnet
      run: dotnet test --logger GitHubActions
